@font-face{
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf") format("opentype");
}

@font-face{
    font-family: "Comfortaa";
    src: url("RobotoMono-VariableFont_wght.ttf") format("truetype"),
         url("RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
}

@import url('fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    --main-font: "Roboto";
    margin:0;
    padding:0;
    display: flex;
}

.side-banner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 100vh;
    border: 2px solid black;
}

.side-banner .banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, .5);
    height: 165px;
}

.side-banner .banner img{
    width: 100px;
}

.side-banner .banner p{
    font-family: "Norse Bold";
    font-size: 90px;
    color: white;
}

.side-banner .bg-credit p{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

.side-banner .bg-credit p a{
    color: white;
}

.sign-up-area{
    background-color: #f3faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    width: 60vw;
}

.sign-up-area div{
    padding-left: 50px;
}

.sign-up-area .form{
    background-color: white;
    box-shadow: 0px 5px 5px #E5E7EB;
    padding-bottom: 30px;
}

.sign-up-area .form label{
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: .8em;
    text-transform: uppercase;
}
.sign-up-area .form .input-group {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}

.sign-up-area .form .input-field{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-bottom: 20px;
}

.sign-up-area .form h1{
    font-family: var(--main-font);
    font-size: 1.5em;
}

input{
    padding: 4px 15px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    font-size: 1em;
}

input:focus{
    outline: 1px solid blue;
    box-shadow: 2px 2px 5px rgb(188, 188, 216);
}

input.password{
    border: 1px solid black;
}
.persuasion{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.25em;
    width: 50ch;
}

.sign-up-footer button{
    background-color: #596D48;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
    box-shadow: 0;
}

.sign-up-footer button:active{
    background-color: #455a33;
    
}
.sign-up-footer a{
    color: #596D48;
    font-family: Comfortaa;
    font-size: .8em;
    font-weight: bold;
    text-decoration: none;
}

